<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Data</title>
</head>
<body>
    <h1>Datos del Sensor Ultrasónico</h1>
    <p>Distancia: {{ data.distance }} cm</p>
    <form action="{{ url_for('control') }}" method="post">
        <input type="submit" value="Enviar Señal al GPIO 33">
    </form>
    <script>
        setInterval(function(){
            window.location.reload();
        }, 1000);
    </script>
</body>
</html>
